*.bak
*.build
*.command
*.csproj
*.csproj.user
*.db-journal
*.dll
*.dll.build
*.DS_Store
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*~
.project
.settings
addon-modules/*/
Aurora.build
Aurora.sln
Aurora.sln.cache
Aurora.suo
AuroraDocs/doxygen/
bin/*.abackup
bin/*.db
bin/*.dll
bin/*.dll.mdb
bin/*.exe
bin/*.ini
bin/*.ini.old
bin/*.log
bin/*.maddin
bin/*.manifest
bin/*.pdb
bin/.version
bin/addin-db-*
bin/assetcache
bin/Aurora.version
bin/AuroraServerConfiguration/*.ini
bin/AuroraServerConfiguration/*.ini.old
bin/AuroraServerConfiguration/*/*.ini
bin/AuroraServerConfiguration/*/*.ini.old
bin/Backups
bin/Configuration/*.ini
bin/Configuration/*.ini.old
bin/Configuration/*/*.ini
bin/Configuration/*/*.ini.old
bin/crashes/
bin/Debug/*.dll
bin/DefaultInventory
bin/estate_settings.xml
bin/j2kDecodeCache
bin/MapAPI_tileCache/*
bin/MapTiles/*
bin/ObjectCache
bin/Physics*
bin/Regions/*
bin/ScriptEngines/*-*-*-*-*
bin/ScriptEngines/*.dll
bin/ScriptEngines/*/*.dll
bin/ScriptEngines/*/*.state
bin/Terrain*
bin/UserAssets
compile.*.bat
compile.bat
compilex64.vs2010.bat
doxygen.error.log
Examples/*.dll
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
