.project
.settings
*.userprefs
*.DS_Store
*.command
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.dll.build
*.dll
*.VisualState.xml
*/*/obj
*/*/*/obj
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/*/obj
*/*/*/*/*/*/*/obj
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin
bin/Debug/*.dll
bin/*.dll.mdb
bin/*.db
bin/addin-db-*
bin/*.dll
bin/*.pdb
bin/OpenSim.vshost.exe.config
bin/ScriptEngines/*-*-*-*-*
bin/ScriptEngines/*.dll
bin/ScriptEngines/*/*.dll
bin/ScriptEngines/*/*.state
bin/*.maddin
bin/*.exe
bin/*.ini
bin/*.ini.old
bin/*.log
bin/*.abackup
bin/j2kDecodeCache
bin/Physics*
bin/Terrain*
bin/Regions/*
bin/UserAssets
bin/Backups
bin/DefaultInventory
bin/ObjectCache
bin/assetcache
bin/estate_settings.xml
bin/config-include/CenomeCache.ini
bin/config-include/FlotsamCache.ini
bin/config-include/GridCommon.ini
bin/config-include/StandaloneCommon.ini
bin/OpenSim.Grid.AssetInventoryServer.log
bin/OpenSim.Grid.AssetServer.log
bin/OpenSim.Grid.GridServer.log
bin/OpenSim.Grid.InventoryServer.log
bin/OpenSim.Grid.MessagingServer.log
bin/OpenSim.Grid.UserServer.log
bin/OpenSim.log
bin/*.manifest
bin/crashes/
bin/AuroraServerConfiguration/*/*.ini
bin/AuroraServerConfiguration/*/*.ini.old
bin/AuroraServerConfiguration/*.ini
bin/AuroraServerConfiguration/*.ini.old
bin/Configuration/*/*.ini
bin/Configuration/*/*.ini.old
bin/Configuration/*.ini
bin/Configuration/*.ini.old
bin/MapTiles/*
bin/MapAPI_tileCache/*
Examples/*.dll
Aurora.build
Aurora.sln
Aurora.sln.cache
Aurora.suo
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TestResult.xml
TAGS
*~
*.bak
*.vshost.*
Makefile.local
bin/.version
bin/Aurora.version
compile.bat
compilex64.vs2010.bat
compile.*.bat
*.db-journal
addon-modules/*/
AuroraDocs/doxygen/
doxygen.error.log
