@CHARSET "UTF-8";
* {margin:0px; padding:0px;}

html, body {
	height: 100%;
	background: #FFFFFF;
	/* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);
	/* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CCCCCC)); 
	/* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCCCCC',GradientType=0 ); /* ie */ 
}

body  {
	line-height: 14px;
	font-size: 14px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0pt;
	cursor: default;
}

#st1 {display: none;}
#st2 {color: #FF0000;}
#st3 {display: none;}
#st4 {display: none;}
#st5 {display: none;}

#st1, #st2, #st3, #st4, #st5, a.styleswitch {
	background: #FFF;
	margin-right: 5px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #CCC 0 0 .25em;
    -moz-box-shadow: #CCC 0 0 .25em;
    box-shadow: #CCC 0 0 .25em;
	behavior: url(css/pie.htc);
}

#login table {width: 100%;}
#register table {width: 100%;}
#regionlist table {width: 100%;}
#regionlist_navigation table {width: 24%;}
#onlineusers table {width: 100%;}
#onlineusers_navigation table {width: 24%;}
#users_navigation table {width: 24%;}
#regioninfo {color: #7E7E7E;}
#useragentprofile {color: #7E7E7E;}
#newslist  table {width: 100%;}
#newslist_navigation table {width: 24%;}
#changeuserinformation table {width: 100%;}
#edituser table {width: 100%;}
#userssearch table {width: 100%;}
#userssearch_navigation  table {width: 24%;}
#loginscreenmanager table {width: 100%;}
#pagemanager table {width: 100%;}

/* Navigation buttons */
.nav {
	background: #fcfcfc;
	margin-right: 5px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #CCC 0 0 .25em;
    -moz-box-shadow: #CCC 0 0 .25em;
    box-shadow: #CCC 0 0 .25em;
	behavior: url(css/pie.htc);
}

table {border-collapse: separate; border-spacing: 0pt;}
caption, th, td {font-weight: normal; text-align: left;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
strong{font-weight: 700;}
ul {list-style: outside;}
li {display: inline;}
a {color: #6EA6FB; text-decoration: none;cursor: pointer;}
a:active {color: #296BA5; text-decoration: none;}
a:hover {color: #296BA5; text-decoration: none;}
p {margin-bottom: 0.5em;}
u {text-decoration: none;}
.clear {clear: both; height: 0; visibility: hidden; display: block;}
img.voodooimage, img.astraimage, img.imprudenceimage, img.phoeniximage, img.singularityimage
{width: 120px; height: 100px;margin: 3px;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; color: #6EA6FB;	line-height: 1.8em;}
h2 {font-size: 22px;}
img.map_picture {width: 128px;}
.jclock1 {color: #C2C2C2; text-align: left; font-size: 12px;}
.footerleft {float: left;}

/* Tooltips */
#tooltip {
	position: absolute;
	z-index: 3000;
	font-size: 10px;
	padding: 3px;
	opacity: 0.85;
	background-color: #FCFCFC;
	border: 0px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #CCC 0 0 .5em;
    -moz-box-shadow: #CCC 0 0 .5em;
    box-shadow: #CCC 0 0 .5em;
	behavior: url(css/pie.htc);
}
#tooltip h3, #tooltip div {margin: 0px;}

input, textarea, select, button {
	padding: 5px;
	margin: 5px;
	height: 21px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #7E7E7E;
	background: #fcfcfc;
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #EEEEEE 0 0 .25em;
    -moz-box-shadow: #EEEEEE 0 0 .25em;
    box-shadow: #EEEEEE 0 0 .25em;
	behavior: url(css/pie.htc);
}

input , textarea {
	width: 300px;
	/* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset; */
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.8);
}

/* input:hover , textarea:hover {border: 1px solid #296BA5;} */
*:focus {outline: none;}

textarea {padding: 15px;width: 400px;min-height:50px;}
select {height:30px;}
button {height:30px;border: 1px solid #ccc;}
input.checkbox {width: 20px; margin-right: 5px;}
label {display:inline-block;}

/* Container */
#container {
	width: 960px;
	margin: 0pt auto;
}

/* Top Container */
#top {
	margin: 0 auto;
	padding: 20px 0 0 0;
}

#top h1 a {
	background: transparent url(../images/logo1.png) no-repeat scroll left top;
	display: block;
	float: left;
	height: 50px;
	text-indent: -999999px;
	width: 250px;
}

/* Top Menu */
#top #menu {
	float: left;
	list-style-type: none;
	margin: 12px 0 0 26px;
}

#top #menu li {
	float: left;
	margin-right: 16px;
	text-transform: uppercase;
	color: #C2C2C2;
	padding: 3px;
	border: 1px solid #fcfcfc;
}

#top #menu li:hover {
	color: #6FA5FD;
	cursor: pointer;
}

/* Loading Menu */
#loading {
	text-align: center;
	visibility: hidden;
}

/* loading */
#content {
	color: #7E7E7E;
	line-height: 1.3em;
	font-size: 14px;
}

/* World */
#worldmap iframe.level1  {
	border: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* -webkit-box-shadow: #EEEEEE 0 0 .25em;
    -moz-box-shadow: #EEEEEE 0 0 .25em;
    box-shadow: #EEEEEE 0 0 .25em; */
	behavior: url(css/pie.htc);
}

/* Chat */
#chat iframe.level1 {
	border: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #EEEEEE 0 0 .25em;
    -moz-box-shadow: #EEEEEE 0 0 .25em;
    box-shadow: #EEEEEE 0 0 .25em;
	behavior: url(css/pie.htc);
}

/* Help */
.voodooimage, .astraimage, .imprudenceimage, .phoeniximage, .singularityimage {;}
img.voodooimage, img.astraimage, img.imprudenceimage, img.phoeniximage, img.singularityimage {
	border: 1px solid #EEEEEE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #EEEEEE 0 0 .25em;
    -moz-box-shadow: #EEEEEE 0 0 .25em;
    box-shadow: #EEEEEE 0 0 .25em;
	behavior: url(css/pie.htc);
}

/* footer */
#footer {
	background: #fcfcfc;
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 10px;
	color: #7e7e7e;
	font-size: 11px;
	text-align: right;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #EEEEEE 0 0 .25em;
    -moz-box-shadow: #EEEEEE 0 0 .25em;
    box-shadow: #EEEEEE 0 0 .25em;
	behavior: url(css/pie.htc);
}

/* Pretty Message */
.message, .info, .alert, .download {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #EEEEEE 0 0 .25em;
    -moz-box-shadow: #EEEEEE 0 0 .25em;
    box-shadow: #EEEEEE 0 0 .25em;
	behavior: url(css/pie.htc);
}

.message {
  background-color: #e6eefe;
  border: 1px solid #b5d1fd;
  padding: 5px;
  float: left;
  width:98.75%;
}

.info {
  background-color:#fffcd3;
  border: 1px solid #ffed8e;
  padding: 5px;
  float: left;
  width:98.75%;
}

.alert {
  background-color: #ffdfdf;
  border: 1px solid #ffbaba;
  padding: 5px;
  float: left;
  width:98.75%;
}

.download {
  background-color: #d3f2d9;
  border: 1px solid #90de96;
  padding: 5px;
  float: left;
  width:98.75%;
}

/* Maintenance 404 505 */
#maintenance {text-align: center;}

.error404, .error505 {
	margin-top: 200px;
	color: #eee;
	font-size: 256px;
	text-shadow: 1px 1px #fff, -1px -1px #444;
}